@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shantell+Sans:ital,wght@1,300&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
button {
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px;
}
nav h1 {
  font-size: 40px;
  text-transform: capitalize;
  font-family: "Shantell Sans", cursive;
  color: rgb(139, 139, 238);
  margin-right: auto;
}
nav button {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #222;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 15px;
  cursor: pointer;
}

nav p {
  margin-right: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: rgb(135, 135, 146);
  text-transform: capitalize;
}

.loading {
  font-size: 20px;
  text-align: center;
  margin-top: 15%;
}
